/* body {
    font-family: 'Open Sans', sans-serif;
} */

* {
    margin: 0px;
    padding: 0px;
    /* background: #FFF; */
}

.main_div{
    height: 500px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
}

#shop_now:hover{
    background-color: black;
    color: white;
}

.text_div{
    width: 320px;
    margin-top: 120px;
    margin-left: 170px;
    font-weight: 900;
}
.header_pera{
    font-size: 12px;
    font-weight: lighter;
}

button{
    margin-top: 20px;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    background-color: #E55473;
    color: white;
    border: none;
}

.header_image{
    height: 450px;
    width: 400px;
    margin-right: 180px;
    margin-top: 50px;
}



/* for main body part */
.main{
    height: 800px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature{
    height: 40px;
    width: 400px;
    margin-top: 100px;
    text-align: center;
}

.flowers{
    margin-top: 100px;
    height: 300px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.images{
    height: 200px;
    width: 150px;
    margin-left: 45px;
    margin-top: 50px;
}

.flower_one{
    height: 250px;
    width: 270px;
    border-radius: 180px 180px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    background-image: url("");
    /* background-image: url("pngwing 6.png");
    background-size: cover; */
    
}

.flower_two{
    height: 250px;
    width: 270px;
    border-radius: 180px 180px 0px 0px;
    background-color: rgba(5, 151, 160, 0.35);
}

.flower_three{
    height: 250px;
    width: 270px;
    border-radius: 180px 180px 0px 0px;
    background-color:  rgba(71, 125, 17, 0.25);
   
}

.delivery_content{
    margin-top: 120px;
    height: 140px;
    width: 900px;
    display: flex;
    justify-content: space-around;
}


.d_content{
    text-align: center;

}

/* Hot deal */
.hot-deal{
    height: 270px;
    width: 100%;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 280px;
    margin-top: 60px;
}
.deal-text{
    width: 300px;
    text-align: center;
}
.deal-text p{
    font-size: 10px;
}
.deal-text h3{
    font-size: 22px;
    font-weight: bold;
}
.deal-picture img{
    height: 200px;
    width: 180px;
}
#deal-button:hover{
    background-color: black;
    color: white;
}

/* Intra section */
.insta-section{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-top: 70px;

}
.istra{
    width: 300px;
    font-size: 20px;
}
.istra p{
    font-size: 10px;
    margin-top: 10px;
    color: rgba(39, 39, 39, 0.60);
}
.instagram-image{
    width: 900px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.insta-img{
    width: 210px;
    height:230px ;
}
.latest-deal{
    width: 900px;
    background-image: url("Rectangle\ 9.png");
    background-size: cover;
    height: 210px;
    margin-top:70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.latest-deal h3{
    font-size: 22px;
    font-weight: bold;
}
.latest-deal p{
    font-size: 10px;
    color: rgba(39, 39, 39, 0.60);
}
.latest-deal input{
    width: 370px;
    height: 30px;
    background: #FFF;
    border: none;
    border-radius: 3px;
}
.latest-deal button{
    height:30px ;
    border-radius: 3px;
    font-size: 10px;
    margin-left: 5px;
}